.main
  .main__header
    .main__header__group
      .main__header__group--name
        = @group.name
      .main__header__group--member
        Member :
        - @group.group_users.each do |group_user|
          = group_user.user.name

    .main__header__edit
      = link_to "Edit", edit_group_path(@group)
  
  .main__chat
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__new_message
        .form__new_message__input
          = f.text_field :content, class: 'holder', placeholder: 'type a message'
          = f.label :image, class: 'input__image' do
            = icon('fas', 'image' , class: "input__icon")
            = f.file_field :image, class: 'input__file'
        = f.submit 'Send', class: 'form__new_message__submit'
